i {
  pointer-events: none;
}

h2 {
  margin: 20px 0;
}

#todo-text {
  width: 300px;
  margin: 0 auto;
  display: inline-block;
}

#submit {
  margin: -5px 0 0 10px;
}

ul {
  margin: 0 auto;
  text-align: left;
}

li {
  margin: 15px 0;
}

#done-list li {
  color: green;
  font-weight: bold;
}

li span {
  margin: 0 10px 0 0;
  font-size: 20px;
}

button {
  margin: 0 5px 0 0;
}